<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>
            <%= blog.title %> || Blogify-pkmanas
        </title>
</head>

<body>
    <%- include('./partials/navbar') %> <!--  nav bar -->

        <div class="container mt-4">
            <h1>
                <%= blog.title %>
            </h1>

            <div class="publication-details ">
                <div class="row">
                    <div class="col-12">
                        <hr class="my-2"> <!-- Straight line content -->
                    </div>
                </div>
                <div class="d-flex mb-1 justify-content-center align-items-center">
                    <div class="p-2">
                        <img src="<%= blog.createdBy.profileImageUrl %>" alt="" width="50px">
                    </div>
                    <div class="p-2">
                        <h3>
                            <%= blog.createdBy.fullName %>
                        </h3>
                    </div>
                    <div class="ms-auto p-2">
                        <h5>Published on: <%= blog.createdAt %>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr class="my-2"> <!-- Straight line content -->
                    </div>
                </div>
            </div>

            <div class="cover-image">
                <img src="<%= blog.coverImageUrl %>" alt="cover image" width=700px>
            </div>

            <div class="body">
                <pre>
                    <%= blog.body%>
                </pre>
            </div>
        </div>

        <div class="container mb-3">
            <img src="<%= blog.createdBy.profileImageUrl %>" alt="" width="50px"><%= blog.createdBy.fullName %>
        </div>

        <div class="container mt-3">
            <h2>Comments (<%= comments.length%>)</h2>

            <% if (locals.user) { %>
                <form action="/blog/comment/<%- blog._id %>" method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control" aria-label="content" placeholder="Enter your comment" name="content" id="content">
                    </div>
                    <div class="input-group">
                        <button class="btn btn-primary" type="submit">Add Blog</button>
                    </div>
                </form>
            <% } %>

            <% comments.forEach(comment => { %>
                <div>
                    <img src="<%= comment.createdBy.profileImageUrl %>" alt="" width="30px"><%= comment.createdBy.fullName %>
                </div>
                <pre><%- comment.content %></pre>
            <% }) %>
        </div>


        <%- include("./partials/script") %>
</body>

</html>